/* ===== GERAL ===== */
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #e9eef6;
}

/* ===== LOGIN ===== */
.center-page {
    min-height: 100vh;
    background: linear-gradient(135deg, #1c7dd9, #4ab4ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 45px;
}

.login-card {
    width: 340px;
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 6px 22px rgba(0,0,0,0.15);
}

.login-card input {
    width: 97%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
}

.login-card button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    color: white;
    background: #1f74e0;
    font-size: 15px;
    cursor: pointer;
}

/* ===== DASHBOARD ===== */
.dashboard {
    padding: 50px;
    background: linear-gradient(135deg, #1c7dd9, #4ab4ff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box {
    background: white;
    width: 600px;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.15);
}

.section-title {
    font-size: 22px;
    margin-bottom: 20px;
}

/* Inputs */
.input-group input,
.input-group select {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #f8f8f8;
}

.btnAdd {
    width: 100%;
    padding: 12px;
    background: #1f74e0;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

/* Lista de atividades */
.atividade-lista {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.atividade-lista li {
    background: #fdfdfd;
    padding: 18px;
    border-radius: 18px;
    margin-bottom: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-text {
    max-width: 70%;
}

.icone {
    font-size: 36px;
}

.remove-btn {
    margin-top: 8px;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    background: #ddd;
    cursor: pointer;
}

.logout {
    margin-top: 20px;
    padding: 12px 22px;
    border-radius: 12px;
    background: white;
    border: none;
    cursor: pointer;
}
